---
layout: default
title: blog
keywords: Stereotopia,Music,Playlists,Reviews,Cyberpunk,Dystopia,Movies,Games,Art,Culture,Digital,Media,Blog,Parminder
---


<section id="blog">
    <div class="container-fluid">
        {% for post in site.posts %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row postholder">
                    <div class="col-md-2">


                        <a href="{{ post.url }}"><img src="{{ post.image }}" class="img-fluid fit-image rounded blogimg-small" alt="{{ post.title }}"></a>


                    </div>

                    <div class="col-md-10">

                        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        <h6><span>{{ post.date |  date: "%B %d, %Y" }}</span><span class="float-right">&#9202;{% include read_time.html content=post.content %}</span></h6>
                        <p class="blogsubtitle">{{ post.subtitle }}</p>
                        <p>{{post.excerpt}} <a href="{{ post.url }}">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
<script src="assets/scripts/fade.js"></script>
