body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}


/*global link properties*/

a:link{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: hotpink;
    text-decoration: none;
}

a:active{
    color: inherit
    text-decoration: none;
}

header span{
    font-weight: bold;
    padding: 0 20px;
    margin: 0;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    background-image: url("img/athena.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    vertical-align: center;
}

.jumbotron h2 {
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    border: 0;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    align-content: center;
}

.jumbotron h3 {
    margin: 0;
    color: #fff;
    opacity: 0.7;
    text-align: center;
    align-items: center;
}


.jumbotron img {
    align-content: center;
}

.jumbotron p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

/*Everything to do with the scrollable playlist box*/

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#playlist {
    flex: 0 0 auto;
    text-align: center;
    color: aliceblue;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

/* hide scrollbar */
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

/* Centered play button */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    filter: alpha(opacity=75);
    /* For IE8 and earlier */
    border: 0;
}

#blog{
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.centered:hover {
    color: black;
    opacity: 0.4;
}

.centered:active {
    opacity: 0;
}

footer {
    font-size: 12px;
    padding: 40px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}

#social {
    cursor: pointer;
}

#social:hover {
    color: aliceblue;
    opacity: 0.7;
}

#social:active {
    transform: translateY(2px);
}



/*
//DEPRECEATED


section .row img {
    margin: 0 0 25px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

*/

/*animated bg test 

html, body {
  margin: 0; padding: 0;
}
.hero-bkg-animated {
  background: gray url(img/trial-bg.png) repeat 0 0;
  opacity: 60;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 600px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -300px 0; }
}

*/