<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <figure class="figure">
                <img src="/assets/images/1up.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/1up_crew_official">1UP CREW</a> | WIP</figcaption>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="/assets/images/core_ruelooo.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/core246wellesbien">CORE246</a> & <a href="https://www.instagram.com/ruelooo">RUELOOO</a> | WIP</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <figure class="figure">
                <img src="/assets/images/juandresvera.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/juandresvera">JUANDRES VERA</a> | WIP</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="figure">
                <img src="/assets/images/smug.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/smugone">SMUG</a> | WIP</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="figure">
                <img src="/assets/images/korpkulzac.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/korporate">KORP</a></figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="figure">
                <img src="/assets/images/emilycatherineillustration.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/emilycatherineillustration">EMILY CATHERINE</a> | WIP</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <figure class="figure">
                <img src="/assets/images/aerosolicz.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/aerosolicz">AMPLE AEROSOLICZ</a></figcaption>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="/assets/images/posea_ilc.jpg" class="img-fluid fit-image rounded" id="gallery" />
                <figcaption class="figure-caption text-right"><a href="https://www.instagram.com/posea_ilc">POSEA</a></figcaption>
            </figure>
        </div>
    </div>
</div>
