* {
      margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html, body {
    height: 100%;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

content .row.row-eq-height header h1 {
    font-weight: 700;
    margin: 0;
}


header nav {
    display: flex;
    justify-content: flex-end;
}

header h1{
    display:inline;
}
    
.pagetitle {
    display: inline-block;
}

content {
    margin-top: 80px;
}

.fit-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#blog {
    margin-top: 60px;
}

.lead {
    font-weight:500;
}

.first {
    margin-top: 20px!important;
}

.postholder {
    border-radius: 25px;
    /*background-color: rgba(0,0,0,.05);*/
    padding: 20px;
    width: auto;
    height: auto;
}

.blogimg-small {
    margin-bottom: 10px;
}

#blogimg {
    display: inline-flex;
    vertical-align: top;
    max-height: 400px;
    width: auto;
    height: auto;
    /*opacity: 0.8;*/  
}

.figureimg {
    margin: 20px 0;
}

.figureimg2 {
    padding: 0 50px;
}

#blogimg2 {
    display: block;
    max-height: 800px;
    width: auto;
    /*opacity: 0.8;*/  
}

#gallery {
}

.blogsubtitle {
    font-size: 14px;
    font-weight: 500;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fade {
    opacity: 0;
}

.hide {
    display: none;
}


/* equaliser logo*/
.equaliser-container {
        height: 35px;
        width: 35px;
        display: inline;
        animation-iteration-count: 5;
}

.colour-bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: gray;
}

.colour-bar2 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        background: gray;
}

.colour-bar3 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 11px;
        background: gray;
}
      
.equaliser-column {
        width: 8px;
        display: inline-block;
        margin: 0 0 0 0;
        padding: 0;
        position: relative;
        list-style-type: none;
}
      
.equaliser-column:nth-child(1) .colour-bar {
        animation: color-bar 3s 1.2s ease-out alternate 3.7;
}
      
.equaliser-column:nth-child(2) .colour-bar2 {
        animation: color-bar 3s 0.55s ease-out alternate 3.5;
}
      
.equaliser-column:nth-child(3) .colour-bar3 {
        animation: color-bar 3s 1.9s ease-out alternate 4;
}

.equaliser-column:last-child {
        margin-right: 8px;
}

@keyframes color-bar {
        0% {
          height: 3.5px;
          background: gray;
        }
        10% {
          height: 10.5px;
          background: gray;
        }
        20% {
          height: 17.5px;
          background: gray;
        }
        30% {
          height: 7px;
          background: gray;
        }
        40% {
          height: 24.5px;
          background: gray;
        }
        50% {
          height: 31.5px;
          background: gray;
        }
        60% {
          height: 10.5px;
          background: gray;
        }
        70% {
          height: 28px;
          background: gray;
        }
        80% {
          height: 17.5px;
          background: gray;
        }
        90% {
          height: 10.5px;
          background: gray;
        }
        100% {
          height: 3.5px;
          background: gray;
        }
      }
      




/*global link properties*/

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: darkturquoise;
    text-decoration: none;
}

a:active {
    color: inherit text-decoration: none;
}

.current {
    font-weight: bold;
    padding: 0 20px;
    margin: 0;
}

header p {
    padding: 0 20px;
    margin: 0;
}

header h1 .special {
    color: gray;
}

.jumbotron {
    display: flex;
    background-image: url("/assets/images/Asakusa.jpeg"); /*jumbotron bg*/
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    vertical-align: center;
}

.jumbotron h2 {
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    border: 0;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    align-content: center;
}

.jumbotron h3 {
    margin: 0;
    color: #fff;
    opacity: 0.7;
    text-align: center;
    align-items: center;
}


.jumbotron img {
    align-content: center;
}


.jumbotron p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.trackname {
    font-weight: bold;
}

/*Everything to do with the scrollable playlist box*/

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#playlist {
    flex: 0 0 auto;
    text-align: center;
    color: aliceblue;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

/* hide scrollbar */
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

/* Centered play button */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    filter: alpha(opacity=75);
    /* For IE8 and earlier */
    border: 0;
}

.centered:hover {
    color: black;
    opacity: 0.4;
}

.centered:active {
    opacity: 0;
}


.squares {
    height: 90px;
    width: 90px;
    margin: 10px;    
    background-color: rgba(0,0,0,0);
    display: inline-block;
    align-content: center!important;
    align-items: center!important;
    position: relative;
    transition: transform .5s cubic-bezier(.31,2.71,.8,.9)!important;
    transform-origin: 50% 50%!important;
}

.squares canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.squares:hover {
  transform: scale(1.05)!important;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

.floating2 {  
    animation-name: floating2;
    animation-duration: 3s;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating2:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }   
}

.floating3 {  
    animation-name: floating3;
    animation-duration: 3s;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating3:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes floating3 {
    from { transform: translate(0, 0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, 0px); }    
}


/* Footer stuff */

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
    padding-bottom: 82px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 82px;
}


footer {
    font-size: 12px;
    padding: 40px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}

#social {
    cursor: pointer;
}

#social:hover {
    color: aliceblue;
    opacity: 0.7;
}

#social:active {
    transform: translateY(2px);
}

#playcontainer {
    display: flex;
    background-size: cover;
    background-position: center;
    vertical-align: center;
    text-align:center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#playcontainer p {
    padding: 15px;
    font-weight: 300;
    color: white;
    background: rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
    
#playcontainer h2 {
  font-family: 'Kanit', sans-serif;
  padding-top: 15px;
  position: relative;
  letter-spacing: 6px;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  align-content: center;
  color: white;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
/* background: -webkit-linear-gradient(#eee, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  animation: 0.8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-10deg); }
  5% { transform: skewX(10deg); }
  10% { transform: skewX(-10deg); }
  15% { transform: skewX(10deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

#change-playlist {
   margin-left:auto;
   margin-right:auto;
   display:block;
   padding-bottom: 15px;
   padding-top: 15px;
}

.iframecol {
    vertical-align: middle;
}

.about-text {
    align-content: center;
    text-align: center;
    padding: 20px;
}

.about-text span {
    color: gray;
    font-style: italic;
}

.about-text a {
    font-weight: bold;
}

.surprise {
    padding: 20px;
}

.disclaimer {
    color: gray;
    font-size: 70%;
}

.card {
    background-color:rgba(0,0,0,0)!important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
    
  .figcaption {
    color: #d7d7d7!important; 
    }
}

/*animated bg test 

html, body {
  margin: 0; padding: 0;
}
.hero-bkg-animated {
  background: gray url(img/trial-bg.png) repeat 0 0;
  opacity: 60;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 600px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -300px 0; }
}

*/
