<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <base href="https://www.stereotopia.com">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Stereotopia is a website with its finger on the pulse of a world enamoured with digital media.  Dystopia or Utopia, you decide.{% endif %}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS / fonts etc -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWR4JK2');

    </script>
    <!-- End Google Tag Manager -->

    <!-- bits and pieces -->
    <title>{% if page.title %}stereotopia - {{ page.title }}{% else %}stereotopia{% endif %}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon.png">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWR4JK2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="page-container">
        <div id="content-wrap">
            <header class="container-fluid">
                <div class="row">
                    <div class="pagetitle col-sm-7">
                        <a href="index.html">
                            <div class="equaliser-container">
                                <ol class="equaliser-column">
                                    <li class="colour-bar"></li>
                                </ol>
                                <ol class="equaliser-column">
                                    <li class="colour-bar2"></li>
                                </ol>
                                <ol class="equaliser-column">
                                    <li class="colour-bar3"></li>
                                </ol>
                            </div>
                            <h1>stereo<span class="special">topia</span></h1>
                        </a>
                    </div>
                    <nav class="col-sm-5 text-right">
                        <p {%if page.url == "/playlists.html" %}class="current" {% endif %}>{%if page.url != "/playlists.html" %}<a href="playlists.html">{% endif %}playlists{%if page.url != "/playlists.html" %}</a>{% endif %}</p>
                        <p {%if page.url == "/blog.html" %}class="current" {% endif %}>{%if page.url != "/blog.html" %}<a href="blog.html">{% endif %}blog{%if page.url != "/blog.html" %}</a>{% endif %}</p>
                        <p {%if page.url == "/about.html" %}class="current" {% endif %}>{%if page.url != "/about.html" %}<a href="about.html">{% endif %}about{%if page.url != "/about.html" %}</a>{% endif %}</p>
                    </nav>
                </div>
            </header>
            <content>

                {{ content }}

            </content>
        </div>

        <footer class="container-fluid">
            <div class="row">
                <p class="col-sm-4"> &copy; 2019 Parminder Gill </p>
                <ul class="col-sm-8">
                    <li class="col-sm-1" id="social">
                        <a href="https://www.instagram.com/pg.ill"><img src="assets/images/icon_insta.svg" /></a>
                    </li>
                    <li class="col-sm-1" id="social">
                        <a href="https://www.twitter.com/parm1der"><img src="assets/images/icon_twitter.svg" /></a>
                    </li>
                    <li class="col-sm-1" id="social">
                        <a href="https://open.spotify.com/user/parm1der?si=1kKiiV_BSzSfq8aGHwpSog"><img src="assets/images/icon_spotify.svg" /></a>
                    </li>
                    <li class="col-sm-1" id="social">
                        <a href="https://www.last.fm/user/parm1der"><img src="assets/images/icon_last.svg" /></a>
                    </li>
                </ul>
            </div>
            <!-- Quantcast Tag -->
            <script type="text/javascript">
                var _qevents = _qevents || [];

                (function() {
                    var elem = document.createElement('script');
                    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
                    elem.async = true;
                    elem.type = "text/javascript";
                    var scpt = document.getElementsByTagName('script')[0];
                    scpt.parentNode.insertBefore(elem, scpt);
                })();

                _qevents.push({
                    qacct: "p-VyDeQ3eK6Ucb_"
                });

            </script>

            <noscript>
                <div style="display:none;">
                    <img src="//pixel.quantserve.com/pixel/p-VyDeQ3eK6Ucb_.gif" border="0" height="1" width="1" alt="Quantcast" />
                </div>
            </noscript>
            <!-- End Quantcast tag -->
        </footer>
    </div>
</body>

</html>
